<!DOCTYPE html>
<html>  
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <img src="/images/camera.svg">
      <a href="/workouts" <%- title === 'Workouts' ? 'class="active"' : '' %>>ALL Workouts</a>
      <% if (user) { %>
          <a href="/logout">LOG OUT</a>
      <% } else { %>
          <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
      <% } %>
      <% if (user) { %> 
      <img src="<%= user.avatar %>" style="border-radius: 50%; height: 60px">
      <p>Welcome <%= user.name %></p>
      <% console.log(user) %>
      <% } else {  }; %>
    </nav>  
  </body>

