<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <nav class="navbar">
      
      <% if (user) { %>
        <a href="/workouts">ALL WORKOUTS</a>
        <a href="/workouts/user">MY WORKOUTS</a>
        <a href="/workouts/new">NEW WORKOUT</a>
        <a href="/logout">LOG OUT</a>
        <img src="<%= user.avatar %>" style="border-radius: 50%; height: 60px">
      <% } else { %>
        <h1><a href="/auth/google" class="login">LOG IN&nbsp;</a> to get started with Fitness Tracker!</h1> 
      <% } %>
    </nav>  

