<%- include('../partials/header') %>


<h3>Your new workout</h3>
<form action="/workouts" method="POST">
  <h4>Workout Type:</h4><input type="text" name="content" id="workout-add-type">
  <h4>Workout Date:</h4><input type="datetime-local" name="workoutDate" value="toLocaleDateString" id="workout-add-date">
  <h4>Weight:</h6> <input name="weight" value="100" max="999" min="0" id="workout-add-weight">
  <h4>Sets:</h6>
  <select name="sets" id="workout-add-sets">
    <option selected disabled>select one</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select>
  <h4>Reps:</h6>
  <select name="reps" id="workout-add-reps">
    <option selected disabled>select one</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
  </select>
  <input id="workout-add-btn" type="submit" value="Add My Workout">
</form>

<%- include('../partials/footer') %>