<%- include('../partials/header') %>

<nav><a href="/">Home Page</a></nav>
<h3>Your new workout</h3>
<form action="/workouts" method="POST">
  <a>Add a New Workout</a>
</form>

<%- include('../partials/footer') %>