body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  border-radius: 5px;
  justify-content: right;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  cursor: default;
}

a {
  color: black;
}

nav {
  padding: 20px;
  background-color: grey;
  display: flex;
  justify-content: space-evenly;
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
 }

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.workout-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.workout-user img {
  border-radius: 50%;
  height: 40px;
}

.login-page {
  background-image: url('https://cdn.pixabay.com/photo/2018/10/09/16/04/sport-3735288_1280.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vmin; 
  opacity: 50%;
}

.no-workout-style {
  background-color: transparent;
}

.all-workouts-list > th {
  padding: 40px;
  margin: 10px;
  background-color: lightsteelblue;
  display: inline-flexbox;
}

.all-workouts-td {
  background-color: lightblue;
  text-align: center;
}

nav > h1 {
  color: white;
}

.comment-show {
  display: grid;
  grid-template-columns: .3fr 2fr;
  grid-template-rows: 1fr 1fr;
  padding: 5px;
}

.comment {
  
  border-style: solid;
  border-color: lightgray;
  border-width: 10px;
  border-radius: 2%;
  /* background: lightblue; */
  padding: 10px;
  grid-row: span 2;
  grid-column: 2;
}

.commenter-name {
  grid-row: 2;
}

#delete-comment {
  background-color: gray;
  color: maroon;
  padding: 10px;
  border-color: white;
  margin-top: -10px;
}

.edit-workout > td {
  padding: 10px;
}

#workout-add-btn {
  background-color: lightblue;
  margin: 10px;
  border-radius: 4%;
  border-color: black;
  border-width: 4px;
}

#workout-add-btn:hover:not(.active) {
  color: white;
  background-color: green;
  border-color: green;
}

#workout-add-sets, #workout-add-reps, #workout-add-type, #workout-add-date, #workout-add-weight {
  border-radius: 10%;
  border-color: black;
  border-width: 4px;
  color: black;
  background-color: lightblue;
}

.show-workout-list > th {
  padding: 40px;
  margin: 10px;
  background-color: lightsteelblue;
  display: inline-flexbox;
}

.show-workout-content {
  text-align: center;
}

.comment-here {
  display: grid;
  grid-gap: 10px;
}

#submit-comment {
  background-color: gray;
  color: greenyellow;
  padding: 10px;
  margin-top: 10px;
  border-color: white;
  margin-left: 10vw;
}

#my-comment {
  display: grid;
  grid-column: 1;
  grid-row: span 2;
  border-color: grey;
  border-radius: 4%;
  border-width: 6px;
}