body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  justify-content: right;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  cursor: default;
}

a {
  color: black;
}

nav {
  padding: 20px;
  background-color: grey;
  display: flex;
  justify-content: space-evenly;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.workout-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.workout-user img {
  border-radius: 50%;
  height: 40px;
}

.login-page {
  background-image: url('https://cdn.pixabay.com/photo/2018/10/09/16/04/sport-3735288_1280.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vmin; 
  width: auto;
  opacity: 50%;
}

 .login-button {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: lightgreen;
  margin: 20px 50% 0px 50%;
}

.no-workout-style {
  background-color: transparent;
}

.all-workouts-list > th {
  padding: 40px;
  margin: 10px;
  background-color: lightsteelblue;
  display: inline-flexbox;
}

.all-workouts-td {
/* background-color: lightblue; */
}

nav > h1 {
  color: white;
}

.comment-show {
  display: grid;
  grid-template-columns: 3fr .5fr .5fr .5fr;
}
